* {
    font-family: verdana;
    margin: 0;
}

body {
    background: #eee;
    background-image: url(http://www.world-guides.com/images/auckland/new_zealand_map.jpg);
} 

.wrapper {
    width: 100%;
    /* max-width: 960px;  */
    margin: 20px  auto;
   }
 
  nav {
    background: white;
    
  } 


 .navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
 }

 .logo a{
  font-size: 20px;
  margin-left: 40px;
  font-weight: 600;
  color: black ;
 }

 .logo p{
  font-size: x-small;
   margin-right: 40%;
 }

 li{
  list-style: none;
  display: inline-block;
 }
     
 nav ul {
    list-style-type: none;
    padding: 0px;
 }

  nav a{
    position: sticky;
    text-decoration: none;
    text-align: center;
    color: black;
    display: block;
    padding: 10px ; 
 } 

 nav a:hover {
    background-color: #eee1e1;
 }

 nav ul{
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
 }

 .title{
   position: absolute;
   top: 25%;
   left: 20%;
 }
 .title h1{
   font-size: 50px;
   font-weight: bold;
  letter-spacing: 2px;
 }

 .card img{
  width: 200px;
  margin-top: 20%;
  margin-left: 20%;
 }
   img.card2{
    margin-left: 20%;
    margin-bottom: 40px;
  }
 
  .main {
     display: flex;
     flex-direction: row;
     justify-content: flex-starts;
  }
 