body {
    background-color: blueviolet;
}

.container {
    display: flex;
    flex-direction: column;
    height: 85vh;
    align-items: center;
    justify-content: flex-end;
}
.container > * {
    height: 32px;
}
